<h1>Posts#show</h1>
<p>Find me in app/views/posts/show.html.erb</p>

<%= @post.body %>
<br>
<br>
<% @post.comments.each do |comment| %>
    <%= comment.body %>
    <%= comment.user.name.capitalize %>
    <br>
    <br>
<% end %>
<br>
<br>



<div>
  <%= form_for [@post, Comment.new] do |f| %>
      <%= f.label :body, "New comment:" %>
      <%= f.text_area :body %>
    <br>
    <%= f.submit "Add your Comment!" %>
  <% end %>
</div>
