<h1>Posts#show</h1>
<p>Find me in app/views/posts/show.html.erb</p>
<p><%= @post.body %> </p>
<div class="">
  <% @post.comments.each do |c| %>
  <p><%= c.body %></p>
  <p>
    <% if c.user %>
    Created by: <%= c.user.name %>
    <%else%>
    Created by: Anonymous
    <%end%>
  </p>
  <% end %>
</div>

<div>
   <%= form_for [@post, Comment.new] do |f| %>
   <%= f.label :body, "New Comment" %>
   <%= f.text_area :body %>
   <%= f.submit "Submit Comment" %>
   <% end %>
 </div>
