

  <%= image_tag(@post.picture)%>


<br>
<br>
<% @post.comments.each do |comment| %>
    <%= comment.body %>
    <%= comment.user.name.capitalize %>
    <br>
    <br>
<% end %>




<div>
  <%= form_for [@post, Comment.new] do |f| %>
      <%= f.label :body, "New comment:" %>
      <%= f.text_area :body %>
    <br>
    <button type="submit" class="btn btn-primary">Add your Comment!</button>
  <% end %>
</div>
